<!DOCTYPE html>
<html>
<link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='css/bootstrap-select.min.css') }}">
<link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='css/bootstrap-datetimepicker.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

<meta name="viewport" content = "width=device-width, initial-scale=1.0">
<script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-select.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-datetimepicker.min.js') }}"></script>
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css' rel='stylesheet' />
<head>
</head>

<body class = "body">
    <div>
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo" class="logo">
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
            <div class="container">
                <div class="row">
                    <div class='col-sm-4'>
                        <b>Category: </b>
                        <select id="sel-category" class="selectpicker" data-live-search="true">
                          {% for cat in categories %}
                            <option>{{ cat[0] }}: {{ cat[1] }}</option>
                          {% endfor %}
                        </select>
                    </div>

                    <div class='col-sm-4'>
                        <b>Time period: </b>
                        <select id="sel-category" class="selectpicker">
                            <option>all</option>
                            <option>last 3 months</option>
                        </select>
                    </div>

                    <div class='col-sm-4'>
                      <button id="btn-search" type="button" class="btn btn-primary">Search</button>
                      <img id="loading-gif" src="https://media.giphy.com/media/sSgvbe1m3n93G/giphy.gif">
                    </div>
                    
                </div>
            </div>
      </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <h2>Results</h2>
              <table id="tab-results" class="table table-striped">
                <thead>
                  <tr>
                    <th>Country</th>
                    <th>Papers</th>
                  </tr>
                </thead>
                <tbody id="tab-results-body">

                </tbody>
              </table>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div id='map'></div>
            </div>
        </div>
    </div>
</body>
</html> 

<script>
    mapboxgl.accessToken = 'pk.eyJ1Ijoia2FzbmV6ZGUiLCJhIjoiY2lzZzN0bXMyMDA0bDJwbnF1d3o0cno1OSJ9.wYotm4p930IHqUht229Acw';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v9',
        center: [-40.0, 50.0],
        zoom: 1
    });

    map.on('load', function() {
        map.addSource('pts', {
            "type": "geojson",
            "data": {
                "type": "FeatureCollection",
                "features": []
            }
        });
        map.addLayer({
            "id": "primary",
            "source": "pts",
            "type": "circle",
            "paint": {
                "circle-radius": 10,
                "circle-color": "#007cbf"
            }
        });
    });

    $(function () {
        $('#datetimepicker1').datetimepicker();
    });

    $("#btn-search").click(function(){
       $('#loading-gif').css("display", "block");
       $.post("search", {category: $("#sel-category").val()}, function(data) {
        coords = data['coords']
        countries_json = data['countries'];
        
        map.getSource('pts').setData(coords);
        console.log(countries_json);

        var html = '';
        for (var i=0; i<countries_json.length; i++)
        {
          html += '<tr>';
          $.each(countries_json[i], function(key, value){
            console.log('<td>'+value+'</td>');
            html += '<td>'+value+'</td>' ;
          });
          html += '</tr>';
        }
        $('#tab-results-body').empty();
        $('#tab-results-body').append(html);

      })
    $('#loading-gif').css("display", "none");
    });

</script>

